.card {
  width: 750px;
  margin: 10px auto;
  box-shadow: 10px 5px 5px gray;
}

.card-header .logo {
  font-size: 50px;
  font-weight: 700;
}
.card-header .project-name {
  text-align: left;
  font-size: 50px;
  font-family: "Roboto Slab";
  font-weight: 900;
  color: rgb(12, 12, 240);
}
.card-body {
  background: linear-gradient(#00bdfe, #00cbfe, #5adeff, #d8f2ff, #84e4f7);
  border-radius: 0 0 5px 5px;
}

.mb-3 {
  font-size: 20px;
  font-family: "Koulen";
  font-weight: 100;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 700;
  color: rgb(15, 15, 94);
}

li:first-letter {
  text-transform: capitalize;
}

.temp .active {
  color: rgb(15, 15, 94);
  cursor: default;
  text-decoration: none;
}

.temp .active:hover {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-weight: 1000;
  background-color: rgb(225, 225, 22);
  font-family: "Roboto Slab";
  border-radius: 5px;
}
p {
  font-size: 30px;
  font-family: "Roboto Slab";
  font-weight: 700;
  color: darkblue;
}

.temp strong {
  font-size: 80px;
  font-family: "Roboto Slab";
  font-weight: 700;
  color: rgb(225, 225, 22);
}

.temp .units {
  font-size: 20px;
  font-family: "Roboto Slab";
  font-weight: 900;
  text-decoration: none;
  top: -34px;
  position: relative;
}

.hum,
.wind {
  font-size: 28px;
  font-family: "Roboto Slab";
  font-weight: 600;
  color: rgb(15, 15, 94);
}

hr {
  border: 2px solid #bea42e;
  margin: 0px 100px;
}

.card-title {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  color: blue;
}
.card-subtitle {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: blue;
}
.card-text {
  text-align: center;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  color: darkblue;
}

.sources {
  text-align: left;
  font-size: 13px;
  font-family: Georgia, serif;
  font-weight: 600;
  color: darkblue;
}
